{{!-- 
    La plantilla parcial muestra los datos proporcionados a través de 
    una propiedad de contexto history y muestra un mensaje predeterminado 
    cuando no hay datos disponibles.
 --}}



<h4>Contactos guardados</h4>
<ol>
    {{#unless history}}
        <li>Sin contactos</li>
    {{/unless}}
    {{#each history}}
        <li>

            <div class="container">
                <div class="row">
                    <div class="col-10">
                        <form action="/editar/{{this.id}}" method="POST">
                            {{!-- <input type="text" value="{{this.id}}"> --}}
                            <input name="name"type="text" value="{{this.name}}">
                            <input name ="lastname" type="text" value="{{this.lastname}}">
                            <button type="submit">Editar</button>
                        </form> 
                    </div>

                    <div class="col-1">
                        <form action="/borrar/{{this.id}}" method="POST">
                            <button type="submit">Eliminar</button>
                        </form>
                    </div>
                </div>
            </div>

            

            
        </li>
    {{/each}}
</ol>
